<!DOCTYPE html>
<html>

<head>
    <title>Famous Books</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery-3.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/echarts.min.js') }}"></script>
    <style type="text/css">
    body {
    	text-align: center;
        margin:auto 5em;
        padding:auto 5em;
        font-family: sans-serif;
		background: #eee;
    }
    .chart {
		width: 600px;
		height:400px;
		margin:2em 2em;
    }
    </style>
</head>

<body>
    {% block content %} {% endblock %}
</body>

</html>
